<a href="https://colab.research.google.com/github/chennurishirisha/feature_Eng/blob/main/encoding_TimeDate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
import datetime

In [17]:
# create a variable with dates, and from that extract the weekday
# I create a list of dates with 20 days difference from today
# and then transform it into a datafame

df_base = datetime.datetime.today()
df_date_list = [df_base - datetime.timedelta(days=x) for x in range(0, 20)]
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df

                          day
0  2022-12-29 13:29:21.070170
1  2022-12-28 13:29:21.070170
2  2022-12-27 13:29:21.070170
3  2022-12-26 13:29:21.070170
4  2022-12-25 13:29:21.070170
5  2022-12-24 13:29:21.070170
6  2022-12-23 13:29:21.070170
7  2022-12-22 13:29:21.070170
8  2022-12-21 13:29:21.070170
9  2022-12-20 13:29:21.070170
10 2022-12-19 13:29:21.070170
11 2022-12-18 13:29:21.070170
12 2022-12-17 13:29:21.070170
13 2022-12-16 13:29:21.070170
14 2022-12-15 13:29:21.070170
15 2022-12-14 13:29:21.070170
16 2022-12-13 13:29:21.070170
17 2022-12-12 13:29:21.070170
18 2022-12-11 13:29:21.070170
19 2022-12-10 13:29:21.070170

In [20]:
# extract the week day name

df['Weekday'] = df['day'].dt.day_name()
df.head()

                         day    Weekday
0 2022-12-29 13:29:21.070170   Thursday
1 2022-12-28 13:29:21.070170  Wednesday
2 2022-12-27 13:29:21.070170    Tuesday
3 2022-12-26 13:29:21.070170     Monday
4 2022-12-25 13:29:21.070170     Sunday

In [23]:
# Engineer categorical variable by ordinal number replacement

weekday_map = {'Monday':1,
               'Tuesday':2,
               'Wednesday':3,
               'Thursday':4,
               'Friday':5,
               'Saturday':6,
               'Sunday':7
}

df['day_ordinal'] = df.Weekday.map(weekday_map)
df.head(20)

                          day    Weekday  day_ordinal
0  2022-12-29 13:29:21.070170   Thursday            4
1  2022-12-28 13:29:21.070170  Wednesday            3
2  2022-12-27 13:29:21.070170    Tuesday            2
3  2022-12-26 13:29:21.070170     Monday            1
4  2022-12-25 13:29:21.070170     Sunday            7
5  2022-12-24 13:29:21.070170   Saturday            6
6  2022-12-23 13:29:21.070170     Friday            5
7  2022-12-22 13:29:21.070170   Thursday            4
8  2022-12-21 13:29:21.070170  Wednesday            3
9  2022-12-20 13:29:21.070170    Tuesday            2
10 2022-12-19 13:29:21.070170     Monday            1
11 2022-12-18 13:29:21.070170     Sunday            7
12 2022-12-17 13:29:21.070170   Saturday            6
13 2022-12-16 13:29:21.070170     Friday            5
14 2022-12-15 13:29:21.070170   Thursday            4
15 2022-12-14 13:29:21.070170  Wednesday            3
16 2022-12-13 13:29:21.070170    Tuesday            2
17 2022-12-12 13:29:21.070170     Monday            1
18 2022-12-11 13:29:21.070170     Sunday            7
19 2022-12-10 13:29:21.070170   Saturday            6

In [4]:
len(df['X1'].unique())

27

In [5]:
df['X2'].unique()

array(['at', 'av', 'n', 'e', 'as', 'aq', 'r', 'ai', 'ak', 'm', 'a', 'k',
       'ae', 's', 'f', 'd', 'ag', 'ay', 'ac', 'ap', 'g', 'i', 'aw', 'y',
       'b', 'ao', 'al', 'h', 'x', 'au', 't', 'an', 'z', 'ah', 'p', 'am',
       'j', 'q', 'af', 'l', 'aa', 'c', 'o', 'ar'], dtype=object)

In [6]:
len(df['X2'].unique())

44

In [7]:
# let's have a look at how many labels each variable has

for col in df.columns:
    print(col, ': ', len(df[col].unique()), ' labels')

X1 :  27  labels
X2 :  44  labels

In [8]:
df.shape

(4209, 2)

In [9]:
# let's examine how many columns we will obtain after one hot encoding these variables
pd.get_dummies(df, drop_first=True).shape

(4209, 69)

In [10]:
# let's find the top 10 most frequent categories for the variable X2

data.X2.value_counts().sort_values(ascending=False).head(20)

NameError: ignored