<a href="https://colab.research.google.com/github/chennurishirisha/feature_Eng/blob/main/encoding_TimeDate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
import datetime

In [26]:
# create a variable with dates, and from that extract the weekday
# I create a list of dates with 20 days difference from today
# and then transform it into a datafame

df_base = datetime.datetime.today()
df_date_list = [df_base - datetime.timedelta(days=x) for x in range(0, 20)]
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df

                          day
0  2022-12-29 13:58:34.134005
1  2022-12-28 13:58:34.134005
2  2022-12-27 13:58:34.134005
3  2022-12-26 13:58:34.134005
4  2022-12-25 13:58:34.134005
5  2022-12-24 13:58:34.134005
6  2022-12-23 13:58:34.134005
7  2022-12-22 13:58:34.134005
8  2022-12-21 13:58:34.134005
9  2022-12-20 13:58:34.134005
10 2022-12-19 13:58:34.134005
11 2022-12-18 13:58:34.134005
12 2022-12-17 13:58:34.134005
13 2022-12-16 13:58:34.134005
14 2022-12-15 13:58:34.134005
15 2022-12-14 13:58:34.134005
16 2022-12-13 13:58:34.134005
17 2022-12-12 13:58:34.134005
18 2022-12-11 13:58:34.134005
19 2022-12-10 13:58:34.134005

In [27]:
# extract the week day name

df['Weekday'] = df['day'].dt.day_name()
df.head()

                         day    Weekday
0 2022-12-29 13:58:34.134005   Thursday
1 2022-12-28 13:58:34.134005  Wednesday
2 2022-12-27 13:58:34.134005    Tuesday
3 2022-12-26 13:58:34.134005     Monday
4 2022-12-25 13:58:34.134005     Sunday

In [28]:
# Engineer categorical variable by ordinal number replacement

weekday_map = {'Monday':1,
               'Tuesday':2,
               'Wednesday':3,
               'Thursday':4,
               'Friday':5,
               'Saturday':6,
               'Sunday':7
}

df['day_ordinal'] = df.Weekday.map(weekday_map)
df.head(20)

                          day    Weekday  day_ordinal
0  2022-12-29 13:58:34.134005   Thursday            4
1  2022-12-28 13:58:34.134005  Wednesday            3
2  2022-12-27 13:58:34.134005    Tuesday            2
3  2022-12-26 13:58:34.134005     Monday            1
4  2022-12-25 13:58:34.134005     Sunday            7
5  2022-12-24 13:58:34.134005   Saturday            6
6  2022-12-23 13:58:34.134005     Friday            5
7  2022-12-22 13:58:34.134005   Thursday            4
8  2022-12-21 13:58:34.134005  Wednesday            3
9  2022-12-20 13:58:34.134005    Tuesday            2
10 2022-12-19 13:58:34.134005     Monday            1
11 2022-12-18 13:58:34.134005     Sunday            7
12 2022-12-17 13:58:34.134005   Saturday            6
13 2022-12-16 13:58:34.134005     Friday            5
14 2022-12-15 13:58:34.134005   Thursday            4
15 2022-12-14 13:58:34.134005  Wednesday            3
16 2022-12-13 13:58:34.134005    Tuesday            2
17 2022-12-12 13:58:34.134005     Monday            1
18 2022-12-11 13:58:34.134005     Sunday            7
19 2022-12-10 13:58:34.134005   Saturday            6